# 短信 个人可用 - 阿里云号码认证（https://dypns.console.aliyun.com/smsServiceOverview）
DYPNS_ACCESS_KEY_ID=
DYPNS_ACCESS_KEY_SECRET=
DYSMS_REGION=
DYSMS_SIGN_NAME=
DYSMS_TEMPLATE_ID=

# 数据库
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# 端口
PORT=3000
HOST=0.0.0.0